body{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header, .recruitment_top{
    height: 500px;
    background: url(../img/main.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: cover;
    color: #FFFFFF;
}
header .container{
    padding-top: 9%;
}
header h1{
    font-weight: 700;
    line-height: 90px;
    font-size: 72px;
    margin: 20px 0;

}
header h5{
    line-height: 29px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}
h2{
    font-weight: 800;
    font-size: 64px;
    margin-bottom: 14px;
}
.about p{
    width: 913px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    font-size: 18px;
}
.poster{
    height: 500px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;

}
.poster h4{
    font-weight: bold;
    line-height: 45px;
    font-size: 35px;
    width: 475px;
}
.poster-bottom-heading {
    align-self: flex-end;
}
.poster-top-heading{
    text-align: right;
}
.poster img{
    height: 230px;
    align-self: center;
}
.poster::before{
    width: 40%;
    height: 3px;
    position: absolute;
    left: 0;
    content: '';
    background-image: url(../img/Rectangle2.png);
}
.poster::after{
    width: 40%;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    background-image: url(../img/Rectangle2.png);
    display: flex;
}
.recruitment{
    margin-top: 4%;
}
.recruitment_top .container{
    width: 100%;
    padding-top: 9%;
}
.recruitment h3{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #FD4040;
}
.recruitment-form__items{
    display: grid;
    grid-template-columns: 365px 365px;
    align-content: space-between;
    justify-content: center;
    grid-column-gap: 20px;
}

.recruitment-form__item input{
    width: 365px;
    height: 60px;
    margin-bottom: 60px;
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    padding-left: 20px;
}
.button-wrap{
    display: flex;
    justify-content: center;
    margin: 20px 0 90px 0;
}
.recruitment-form__button{
    width: 528px;
    height: 90px;
    border: none;
    border-radius: 100px;
    background: #FD4040;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #F2F2F2;
}
.recruitment-form__button:hover {
    opacity: 0.8;
}